
@{
    ViewData["Title"] = "Company Profile";
}



@foreach (Company company in Model.companyProfile)
{
    <a asp-controller="CompanyProfile" asp-action="EditCompany" asp-route-companyId="@company.companyId">Edit Company</a>
    <p>Name: @company.companyName</p>
    <p>rating: @company.CompanyRatings</p>
    <p>money need: @company.needDonate</p>
    <p>total donate: @company.totaldonate</p>
}
