@model CrowdFundingApp.ViewModels.CompanyProfileViewModel
@{
    ViewData["Title"] = "Company Profile";
}

<a asp-controller="CompanyProfile" asp-action="EditCompany" asp-route-companyId="@Model.companyProfile.companyId">Edit Company</a>
<p>Name: @Model.companyProfile.companyName</p>
<p>rating: @Model.companyProfile.CompanyRatings</p>
<p>money need: @Model.companyProfile.needDonate</p>
<p>total donate: @Model.companyProfile.totaldonate</p>
<p>total About: @Model.companyProfile.about</p>

