@model CrowdFundingApp.ViewModels.CompanyProfileViewModel
@{
    ViewData["Title"] = "Company Profile";
}

<a asp-controller="CompanyProfile" asp-action="EditCompany" asp-route-companyId="@Model.companyProfile.companyId">Edit Company</a>
<a asp-controller="News" asp-action="createNews" asp-route-companyId="@Model.companyProfile.companyId">Create News</a>
<p>Name: @Model.companyProfile.companyName</p>
<p>Theme: @Model.themeName.theme.themeName</p>
<p>rating: @Model.companyProfile.CompanyRatings</p>
<p>money need: @Model.companyProfile.needDonate</p>
<p>total donate: @Model.companyProfile.totaldonate</p>
<p>total About: @Model.companyProfile.about</p>
<div>
    <table class="table">
        <tr><th>Bonus</th><th>Cost</th><th></th></tr>
        @foreach (BonusList bonusList in Model.companyProfile.BonusList)
        {
            <tr>
                <td>@bonusList.bonusName</td>
                <td>@bonusList.bonusCost</td>
            </tr>
        }
    </table>
</div>
