@model CrowdFundingApp.ViewModels.CompanyProfileViewModel
@{
    ViewData["Title"] = "EditCompany";
}


    <form method="post" asp-controller="CompanyProfile" asp-action="Save">

        <div hidden>
            <input value="@Model.companyProfile.companyId" asp-for="companyId" />
        </div>
        <div>
            <label asp-for="companyName"></label><br />
            <input value="@Model.companyProfile.companyName" asp-for="companyName" />
        </div>
        <div>
            <label asp-for="about"></label><br />
            <input value="@Model.companyProfile.about" asp-for="about" />
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>

        <div>
            <button asp-controller="CompanyProfile" asp-action="addBonus" asp-route-companyId="@Model.companyProfile.companyId">add Bonus</button>

            <table class="table">
                <tr><th>Bonus</th><th>Cost</th><th></th></tr>
                @foreach (BonusList bonusList in Model.bonusList)
                {
                    <tr>
                        <td>@bonusList.bonusName</td>
                        <td>@bonusList.bonusCost</td>
                    </tr>
                }
            </table>
        </div>

        <button type="submit" class="btn btn-sm btn-danger" asp-action="deleteCompany" asp-route-companyId="@Model.companyProfile.companyId">Delete Company</button>

    </form>






