@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model CrowdFundingApp.ViewModels.RegisterViewModel
<div class="row justify-content-center">
    <div class="col-4">
        <h2>@Localizer["RegisterNewUser"]</h2>
        <form method="post" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label class="col-form-label" asp-for="Login">@Localizer["Login"]</label><br />
                <input class="form-control" asp-for="Login" />
                <span asp-validation-for="Login"></span>
            </div>
            <div>
                <label class="col-form-label" asp-for="Email">Email</label><br />
                <input class="form-control" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label class="col-form-label" asp-for="Password">@Localizer["Password"]</label><br />
                <input class="form-control" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label class="col-form-label" asp-for="PasswordConfirm">@Localizer["ConfirmPassword"]</label><br />
                <input class="form-control" asp-for="PasswordConfirm" />
                <span asp-validation-for="PasswordConfirm"></span>
            </div>
            <div>
                <input class="btn btn-primary mt-2" type="submit" value="@Localizer["Registration"]" />
            </div>
        </form>
    </div>
</div>
