@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Crownd Findin App</h1>
        <p class="lead">By Prozoff</p>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>


    <form method="post" asp-controller="Home" asp-action="toCompany">
        <input type="submit" value="Company" />
    </form>

}
else
{
    <a asp-controller="Account" asp-action="Login">Login</a>
    <a asp-controller="Account" asp-action="Register">Registeration</a>
}

<table class="table">
    <tr><th>Name</th><th>Creater</th><th>About</th><th>Begin</th><th>End</th><th>Need</th><th>Found</th></tr>
    @foreach (Company company in Model.lastUpdeteCompany)
    {
        <tr>
            <td>@company.companyName</td>
            <td>@company.creater</td>
            <td>@company.about</td>
            <td>@company.startDate</td>
            <td>@company.endDate</td>
            <td>@company.needDonate</td>
            <td>@company.totaldonate</td>

        </tr>
    }
</table>

<table class="table">
    <tr><th>Name</th><th>Creater</th><th>About</th><th>Begin</th><th>End</th><th>Need</th><th>Found</th><th>Rating</th></tr>
    @foreach (Company company in Model.ratedCompany)
    {
        <tr>
            <td>@company.companyName</td>
            <td>@company.creater</td>
            <td>@company.about</td>
            <td>@company.startDate</td>
            <td>@company.endDate</td>
            <td>@company.needDonate</td>
            <td>@company.totaldonate</td>
            <td>@company.rating</td>

        </tr>
    }
</table>

<button id="upload_widget" class="btn-primary">Upload files</button>



<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

<script type="text/javascript">
    let im;
    var myWidget = cloudinary.createUploadWidget({
        cloudName: 'prozoff',
        uploadPreset: 'ml_default'
    }, (error, result) => {
        if (!error && result && result.event === "success") {
            console.log('Done! Here is the image info: ', result.info);
            im = result.info.secure_url;
        }
    }
    )

    document.getElementById("upload_widget").addEventListener("click", function () {
        myWidget.open();
    }, false);
</script>