@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model CrowdFundingApp.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron jumbotron-fluid" style="background-image: url(https://res.cloudinary.com/prozoff/image/upload/v1590778202/bg_z7k6c6.jpg)">
    <div class="container">
        <h1 class="display-4 text-white">Crownd Findin App</h1>
        <p class="lead text-white">By Prozoff</p>
    </div>
</div>

<div class="col-12">
    <div class="row">
        <span>@Localizer["Tags"] : </span>
        @foreach (TagList tag in Model.tagLists)
        {
            <form asp-action="showTag" asp-controller="Company">
                <div class="p-1">
                    <input hidden asp-for="@Model.tag.tagId" value="@tag.tagId" />
                    <button type="submit" class="text-white badge badge-pill badge-primary">#@tag.tagName</button>
                </div>
            </form>
        }
    </div>
</div>

<div class="row">
    <div class="col-8">
        <h4>@Localizer["MostPopularCompany"]:</h4>
        <div>
            @foreach (Company company in Model.ratedCompany)
            {
                <div class="media p-2">
                    <img src="@company.companyImg" height="128" width="128" class="align-self-start mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0"><a asp-controller="CompanyProfile" asp-action="CompanyProfile" asp-route-companyId="@company.companyId">@company.companyName</a></h5>
                        <p>@company.about</p>
                        <hr />
                        <div class="row ml-2">
                            <small class="mr-2">@Localizer["Rating"] : @company.rating</small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-4">
        <h5>@Localizer["LastUpdeteCompany"] : </h5>
        @foreach (Company company in Model.lastUpdeteCompany)
        {
            <div class="media p-1">
                <img src="@company.companyImg" height="64" width="64" class="align-self-start mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0"><a asp-controller="CompanyProfile" asp-action="CompanyProfile" asp-route-companyId="@company.companyId">@company.companyName</a></h5>
                </div>
            </div>
        }
    </div>
</div>



