@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model CrowdFundingApp.ViewModels.CreateCompanyViewModel
@{
    ViewBag.Title = "Create new company";
}
<div class="row justify-content-center">
    <div class="col-2">
        <div>
            <img id="newCompanyImg" src="https://res.cloudinary.com/prozoff/image/upload/v1590838360/backCompany_ebviw8.png" height="160" width="160" />
        </div>
        <div>
            <button id="upload_widget" class="btn btn-primary btn-sm btn-block">@Localizer["ChangeImg"]</button>
        </div>
        <div>
            <label>@Localizer["WriteTags"]</label>
            <input class="form-control" id="inputLine" type="text" />
            <div id="addTag" class="btn btn-primary sm" onclick="addTag()">@Localizer["AddTags"]</div>
            <div class="row" id="last">
            </div>
        </div>
    </div>
    <div class="col-6">
        <form asp-action="Create" asp-controller="Company">
            <input hidden asp-for="@Model.company.companyImg" id="saveImg" value="https://res.cloudinary.com/prozoff/image/upload/v1590838360/backCompany_ebviw8.png" />
            <div class="form-group">
                <label asp-for="@Model.company.companyName" class="control-label">@Localizer["Name"]</label>
                <input required type="text" asp-for="@Model.company.companyName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.company.needDonate" class="control-label">@Localizer["Funding"]</label>
                <input required type="text" asp-for="@Model.company.needDonate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.company.endDate" class="control-label">@Localizer["EndDate"]</label>
                <input type="date" asp-for="@Model.company.endDate" class="form-control" required>

            </div>
            <div class="form-group">
                <label asp-for="@Model.company.about" class="control-label">@Localizer["About"]</label>
                <textarea required asp-for="@Model.company.about" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="@Model.resourcesLink.link" class="control-label">@Localizer["YouTubeLink"]</label>
                <input type="text" asp-for="@Model.resourcesLink.link" class="form-control" placeholder="@Localizer["pasteLink"]" />
            </div>
            <div id="tagForm"></div>
            <div class="m-3">
                <select required class="custom-select mr-sm-2" asp-for="theme">
                    <option disabled selected>@Localizer["ChooseTheme"]</option>
                    @foreach (ThemeList themeList in Model.themeList)
                    {
                        <option value="@themeList.themeId">@themeList.themeName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <div class="row justify-content-end">
                    <input type="submit" value="@Localizer["Add"]" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    <script>
        let i = 0;
        let lastItem = document.getElementById('last');
        function addTag() {
            let tag = document.createElement("input");
            let getTagValue = document.getElementById('inputLine').value;
            tag.setAttribute('name', 'tags[' + i + ']');
            tag.setAttribute('value', getTagValue);
            tag.setAttribute('hidden', 'true');
            tag.id = 'inputTag_' + i;
            document.getElementById('tagForm').append(tag);

            createTag(i, getTagValue);
            document.getElementById('inputLine').value = '';
            i++
        }

        function createTag(i, getTagValue) {
            let newTag = document.createElement('div');
            let inTag = document.createElement('a');
            newTag.id = 'tagId_' + i;
            newTag.setAttribute('class', 'p-1');
            newTag.setAttribute('onclick', 'removeTag(' + i + ')')
            inTag.setAttribute('class', 'text-white badge badge-pill badge-primary');
            inTag.innerHTML = '#' + getTagValue;
            newTag.append(inTag);
            document.getElementById('last').append(newTag);
        };

        function removeTag(id) {
            let tag = document.getElementById('tagId_' + id)
            let inputTag = document.getElementById('inputTag_' + id);
            inputTag.remove();
            tag.remove();
        }

    </script>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
    <script type="text/javascript">
        let newImg;
        let currentImg = document.getElementById('newCompanyImg');
        var myWidget = cloudinary.createUploadWidget({
            cloudName: 'prozoff',
            uploadPreset: 'ml_default'
        }, (error, result) => {
            if (!error && result && result.event === "success") {
                console.log('Done! Here is the image info: ', result.info);
                newImg = result.info.secure_url;
                currentImg.setAttribute('src', newImg);
                document.getElementById('saveImg').setAttribute('value', newImg);
            }
        });
        document.getElementById("upload_widget").addEventListener("click", function () {
            myWidget.open();
        }, false);
    </script>
}