@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<CrowdFundingApp.Models.User>
@{
    ViewBag.Title = "User List";
}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

@if (User.Identity.IsAuthenticated)
{
    <form method="post">
        <div class="nl">
            <div class="d-flex justify-content-end">
                <a class="btn btn-sm btn-primary mr-3" asp-controller="Theme" asp-action="Index">@Localizer["Themes"]</a>
                <button type="submit" class="btn btn-sm btn-primary mr-1" asp-action="Block">@Localizer["Block"]</button>
                <button type="submit" class="btn btn-sm btn-primary mr-1" asp-action="Unblock">@Localizer["Unblock"]</button>
                <button type="submit" class="btn btn-sm btn-danger" asp-action="Delete">@Localizer["Delete"]</button>
            </div>

            

            <table class="table table-striped table-bordered ">

                <tr><th><input type="checkbox" class="all" data-id="d1" title="CheckAll"></th><th>@Localizer["Name"]</th><th>Email</th><th>@Localizer["registerDate"]</th><th>@Localizer["isBlock"]</th><th>@Localizer["Roles"]</th></tr>

                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" value="@user.Id" name="selectedUsers" class="one" data-id="d1">
                        </td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.createDate</td>
                        <td>@user.isBlocked</td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="EditRole" asp-route-userid="@user.Id">Change Role</a>
                        </td>

                    </tr>
                }

            </table>
        </div>

    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".all").on("change", function () {
                var groupId = $(this).data('id');
                $('.one[data-id="' + groupId + '"]').prop("checked", this.checked);
            });
        });
    </script>
}